<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> headersin}}
    <h1>with the help of you, we want to show our helpers against COVID 19 that appreciates their work.  </h1>
    <div id="log">
    <h2>we want to show the frontline helpers against COVID 19 that we think about them. and On this page, you can see the ONLINE  status of this disease and you can see with the help of this group of people we can fight against this disease. please register your self and sign our petition and show your appreciation for their hard work.  </h2>
<h2>the only way to win this battle is to be together.</h2>
   
{{!-- <h1>{{data}}</h1> --}}
    </div>
</body>
</html>