<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you for your helps</title>
       <link rel="stylesheet" href="styles.css" > 

</head>
<body>
    {{> header}}
     <div id="mian">
    <h1>Thank you for your help for helpers </h1>
    <h2>{{name}} </h2>
    <h3>
    <a href="/signers"> there is {{count}} pepole sign here to help</a></h3>
    <img src="{{imgsrc}}" alt="">
    </div>

</body>
</html>